body {   
  height: 500px;
  background-color: red;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet)
  }

h1 {
  color: white;
}

p {
  color: white:
}

.jumbotron {
    background-image: url("belly-button.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: rgb(240, 240, 240);
  }

